/*
  styles.css
  Este arquivo serve para estilizar o HTML.
  Tudo que você mudar aqui afeta a aparência dos elementos da página.
  Exemplo: body { background: #f0f0f0; }
  Use seletores para escolher quais elementos HTML estilizar.
  O CSS é ligado ao HTML pelo <link rel="stylesheet" href="styles.css">.
*/

/* Escreva seu CSS aqui! */

.titulo-beyond {
  color: green; /* deixe o titulo verde */
  font-family: 'courier new ' , courier, monospace; /* deixa a fonte do titulo courier */
  }


